In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series([1, np.nan, 'hello', None])

In [3]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [4]:
data[data.isnull()]

1     NaN
3    None
dtype: object

In [5]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [9]:
data.fillna('-99')

0        1
1      -99
2    hello
3      -99
dtype: object

In [10]:
data.replace({'hello': 'bye'})

0       1
1     NaN
2     bye
3    None
dtype: object

In [11]:
"Hello".lower()

'hello'

In [12]:
'hello'.upper()

'HELLO'

In [14]:
'hello dave'.title()

'Hello Dave'

In [15]:
pd.Series([1, 2, np.nan, 4], dtype='category')

0      1
1      2
2    NaN
3      4
dtype: category
Categories (3, int64): [1, 2, 4]

In [16]:
pd.Series([1, 2, np.nan, 4], dtype='float') + 4

0    5.0
1    6.0
2    NaN
3    8.0
dtype: float64

In [18]:
pd.Series([1, 2, np.nan, 4], dtype='string') + ' hello'

0    1 hello
1    2 hello
2       <NA>
3    4 hello
dtype: string

In [20]:
np.array(['hello', 'bye'])

array(['hello', 'bye'], dtype='<U5')